*{
	box-sizing: border-box;
}

.row{
	width: 100%;
}

div.container{
	padding:10px;
}

p{
	padding:15px;
}

section{
	border: 1px solid black;
	background-color:#7FFFD4;
	width:100%;
	height:220px;
	color:#000000;
	text-align: left;
	font-family:verdana;
	padding: 10px;
	position:relative;
	overflow:auto;
}

#t1,#t2,#t3
{
	border-left:1px solid black;
	border-bottom:1px solid black;
	width:30%;
	height:30px;
	padding:5px;
	text-align:center;
	position:absolute;
	top:0px;
	left:70%;
	color: #FFFFFF;
}

#t1
{
	background-color:#556B2F;
}

#t2
{
	background-color:#00008B;
}

#t3
{
	background-color:#8B4513;
}

/* Large devices */
@media (min-width: 992px)
{
	.lg-4{
		float: left;
		width: 33.33%;
	}	
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) 
{
	.md-6{
		float:left;
		width: 50%;
	}

	/* Small devices */
	.md-12
	{
		float:left;
	width: 100%;
	}
}

h1 {
	text-align:center;
	margin: 35px;
}