/*--- Body ----*/
body {
	background-color: #37A6E1;
}

/** HEADER **/
#header-nav {
 	background-color: #FFCE00;
 	border-radius: 0;
 	border: 0;
}

#logo-img {
 	background: url('../images/img2.jpg') no-repeat;
 	width: 150px;
 	height: 150px;
 	margin: 10px 5px 10px 0px;
 }

.navbar-brand {
	padding-top: 20px;
}

.navbar-brand h1 { /* name */
 	font-family: 'Lora', serif;
 	color:#0000FF;
 	font-size: 2.5em;
 	font-weight: bold;
 	text-shadow: 1px 1px 1px #222;
  }

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

 .navbar-brand p { /* tagline */
 	font-family: 'Comic-sans';
 	color:#000000;
 	font-style: italic;
 	font-size: 1.25em;
 	font-weight: bold;
 	margin-top: 15px;
 }

#nav-list {
	margin-top: 20px;
}

#nav-list a {
	color: #0000FF;
	font-size: 1.2em;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
 	border: 1px solid #61122f;
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.navbar-brand {
	padding-top: 5px;}

.navbar-brand h1 { /* name */
 	font-family: 'Lora', serif;
 	color:#0000FF;
 	font-size: 1.5em;
 	font-weight: bold;
 	text-shadow: 1px 1px 1px #222;
 	margin:0px;
  }

.navbar-brand p { /* tagline */
	font-family: 'Comic-sans';
	color:#000000;
	font-style: italic;
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
	}

#nav-list {
	margin-top: 5px;
	}

#nav-list a {
	color: #0000FF;
	font-size: 1em;
	text-align: center;
	}
}

/********** Extra Small devices only **********/
@media (max-width: 768px){
.navbar-brand {
	padding-top: 5px;}

.navbar-brand h1 { /* name */
 	font-family: 'Lora', serif;
 	color:#0000FF;
 	font-size: 1.2em;
 	font-weight: bold;
 	text-shadow: 1px 1px 1px #222;
 	margin:0px;
  }

.navbar-brand p { /* tagline */
	font-family: 'Comic-sans';
	color:#000000;
	font-style: italic;
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
	}

#nav-list {
	margin-top: 5px;
	}

#nav-list a {
	color: #0000FF;
	font-size: 1em;
	text-align: center;
	}
}
}


.jumbotron {
	background: url('../images/jumb1.jpg') no-repeat;
	padding-right: 10px;
	padding-left: 10px;
}
